extends base

block content
  main.main.main--auth
    .login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form.form.form--login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          .form__input-wrapper
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            button.toggle-password(type='button', data-target='password')
              svg(width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2')
                path(d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z')
                circle(cx='12' cy='12' r='3')
                line.slash(x1='4' y1='4' x2='20' y2='20' style='display:none')
        .form__group
          button.btn.btn--green Login
      .auth-divider
        span or
      .social-login
        a.btn.btn--google(href='/api/v1/users/auth/google')
          span.btn--google__icon
            svg(width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg')
              path(fill='#4285F4' d='M17.64 9.2c0-.63-.06-1.25-.17-1.84H9.18v3.48h4.84c-.21 1.1-.84 2.04-1.8 2.67v2.22h2.92c1.71-1.57 2.7-3.9 2.7-6.53z')
              path(fill='#34A853' d='M9.18 18c2.43 0 4.48-.8 5.97-2.17l-2.92-2.22c-.81.55-1.84.88-3.05.88-2.35 0-4.34-1.58-5.05-3.71H1.12v2.33C2.6 15.96 5.67 18 9.18 18z')
              path(fill='#FBBC05' d='M4.13 10.76c-.18-.54-.28-1.12-.28-1.71s.1-1.17.28-1.71V4.99H1.12A8.94 8.94 0 0 0 0 9.05c0 1.47.35 2.86.98 4.06l3.15-2.35z')
              path(fill='#EA4335' d='M9.18 3.58c1.33 0 2.5.46 3.44 1.37l-2.58-2.58C13.66.94 11.63 0 9.18 0 5.67 0 2.6 2.04 1.12 4.99l3.01 2.33c.71-2.13 2.7-3.71 5.05-3.71z')
          span Continue with Google
        a.btn.btn--github(href='/api/v1/users/auth/github')
          span.btn--github__icon
            svg(width='18' height='18' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
              path(fill='#181717' d='M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.797 8.207 11.387.6.112.793-.262.793-.583 0-.287-.01-1.243-.015-2.244-3.338.726-4.042-1.61-4.042-1.61-.546-1.386-1.333-1.756-1.333-1.756-1.09-.745.083-.73.083-.73 1.205.085 1.84 1.237 1.84 1.237 1.07 1.835 2.807 1.305 3.492.998.108-.775.42-1.305.763-1.605-2.665-.303-5.466-1.332-5.466-5.93 0-1.31.467-2.382 1.235-3.22-.124-.303-.535-1.523.117-3.176 0 0 1.008-.322 3.3 1.23a11.52 11.52 0 0 1 3.003-.404c1.018.005 2.043.138 3.003.404 2.29-1.552 3.296-1.23 3.296-1.23.653 1.653.242 2.873.118 3.176.77.838 1.233 1.91 1.233 3.22 0 4.61-2.804 5.625-5.476 5.922.431.372.815 1.102.815 2.222 0 1.604-.015 2.896-.015 3.292 0 .324.19.699.8.58C20.565 21.795 24 17.305 24 12c0-6.63-5.37-12-12-12z')
          span Continue with GitHub
